.options__container{
    margin-top: 80px;
    width: 100vw;
    height:60px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.invoice__name{
    color: #3A3A3A;
    font-style: capitalize;
    font-weight: 700;
    display: flex;
    justify-content:center;
}

.edit__options{
    width:20%;
    align-items:center;
    justify-content: space-evenly;
    display:flex;
    margin-left: 40px;
}

.edit__options>p{
    color: #9E9E9E;
}

.para{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para:hover{
    color: #604CC5;
    border-bottom: 3px solid  #604CC5;
}

.buttons{
    width:250px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.edit__options>div:hover{
    cursor: pointer;
    color: #604CC5;
}

.edit__options>div:focus{
    cursor: pointer;
    color: #604CC5;
}