.options__container{
    margin-top: 80px;
    width: 100vw;
    height:60px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.invoice__name{
    color: #3A3A3A;
    font-style: capitalize;
    font-weight: 700;
}

.edit__options{
    width:20%;
    align-items:center;
    justify-content: space-evenly;
    display:flex;
    margin-left: 40px;
}

.edit__options>p{
    color: #9E9E9E;
}

.icon{
    margin-left:5px;
}

.i{
   margin-right: 5px; 
}

.buttons{
    width:30%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}


.edit__options>p:hover{
    cursor: pointer;
    color: #604CC5;
}

.edit__options>p:focus{
    cursor: pointer;
    color: #604CC5;
}